:root {
	--font-primary: 'Nunito Sans', sans-serif;
	--font-secondary: 'Baskervville', serif;
	--font-script: 'Nothing You Could Do', cursive;

	--color-primary: hsla(94, 35%, 51%, 1.0);
	--color-primary-dark: hsla(131, 20%, 28%, 1.0);
}