:root {
	--max-width: 1200px;

	--font-primary: 'Nunito Sans', sans-serif;
	--font-secondary: 'Baskervville', serif;
	--font-script: 'Nothing You Could Do', cursive;

	--color-black: hsla(131, 20%, 5%, .95);
	--color-primary: hsla(94, 35%, 48%, .95);
	--color-primary-dark: hsla(131, 20%, 28%, .95);
	--color-secondary: hsla(193, 86%, 50%, .95);
	--color-secondary-dark: hsla(193, 86%, 42%, .95);

	--spacing-xs: 16px;
	--spacing-s: 32px;
	--spacing-m: 48px;
	--spacing-l: 96px;
	--spacing-xl: 124px;
}
